@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Rubik:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Kanit:wght@300&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.guide {
  border: 1px solid red;
}

.container {
  overflow: hidden;
  display: flex;
  height: 500px;
  width: 3000px;
  margin: 0 auto;
}

.container div {
  height: 400px;
  min-width: 300px;
  margin-left: 30px;
}

.bg {
  background-color: rgb(112, 122, 212);
}


.fontShadowsIntoLight {
  font-family: 'Shadows Into Light', cursive;
}

.fontBree {
  font-family: 'Bree Serif', serif;
}

.fontRubik {
  font-family: 'Rubik', sans-serif;
}

.fontBorel {
  font-family: 'Borel', cursive;
}


.fontInconsolata {
  font-family: 'Inconsolata', monospace;
}

.fontKanit {
  font-family: 'Kanit', sans-serif;
}


.fontMonospace {
  font-family: 'Inconsolata', monospace;
  font-family: 'Rubik', sans-serif;
}

.border-round {
  border-radius: 50px;
  color: 0 0 0;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}


.bg-opacity-low {
  background-color: #526D82;
}

.text-color1 {
  color: #27374D;
}

.text-color2 {
  color: #526D82;
}

.text-color1 {
  color: #9DB2BF;
}

.text-color1 {
  color: #DDE6ED;
}

.iconHover :hover {
  scale: 1.3
}


.buttonHover :hover {
  scale: 1.3;
  cursor: pointer;
}

.hoverColorChange :hover {
  color: #FF8400;
}

.hoverChangeShadow :hover {
  scale: 1.3;
  cursor: pointer;
  border: 2px solid #000000;
  padding: 10px;
  box-shadow: 5px 5px #000000;
  border-radius: 15px;
}


.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.animate-charcter :hover {
  background-image: linear-gradient(-225deg,
      #001C30 0%,
      #176B87 29%,
      #64CCC5 67%,
      #DAFFFB 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
  display: block;
  font: 7em 'Montserrat';
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 3px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #5800FF;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #0096FF;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #72FFFF;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #33038d;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #00D7FF;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.shadowBottom {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.boxshadow {
  border: 1px solid #3a3a3a;
  padding: 10px;
  box-shadow: 5px 5px #3a3a3a;
  border-radius: 15px;
}


.circleshadow {
  border: 1px solid #3a3a3a;
  padding: 10px;
  box-shadow: 5px 5px #3a3a3a;
  border-radius: 100px;
}

.bgImage {
  background-image:
    url('../src/Assets/studiopic.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 300px 300px;

}


.bgAdNU {
  background-image:
    url('../src/Assets/Ateneo_de_Naga_University_logo.png');
  height: 50px;
  margin-top: -70px;
  margin-left: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;

}



.bgIMS {
  background-image:
    url('../src/Assets/Projects/IMS/IMS1.png');
  margin-top: -70px;
  margin-left: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}


.bgBrickBreaker {
  background-image:
    url('../src/Assets/Projects/Brickbreaker/brickbreaker.png');
  margin-top: -70px;
  margin-left: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}



.bgTuwayan {
  background-image:
    url('../src/Assets/Projects/Tuwayan/tuwayan1.png');
  margin-top: -70px;
  margin-left: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgWoop {
  background-image:
    url('../src/Assets/Projects/Woop/Woop1.png');
  margin-top: -70px;
  margin-left: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.buttonStyle {
  width: '240px';
  height: '50px';
  border: '1px solid black';
  border-radius: '10px'
}


.butt {
  width: '240px';
  height: '50px';
  border: '1px solid black';
  border-radius: '10px'
}

.inlineDisplay {
  display: inline-block;
  height: 400px;
  width: 250px;
}


.bgImageArt1 {
  background-image:
    url('../src/Assets/Arts/Aesthetic_Conventionalism1.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 300px 300px;

}

.bgImageArt2 {
  background-image:
    url('../src/Assets/Arts/Aesthetic_Conventionalism2.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

.bgImageArt3 {
  background-image:
    url('../src/Assets/Arts/VectorArt.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bgImageArt4 {
  background-image:
    url('../src/Assets/Arts/Aesthetic_Hedonism.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bgImageArt5 {
  background-image:
    url('../src/Assets/Arts/robredosword.png');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 70% 100%;

}

.bgImageArt6 {
  background-image:
    url('../src/Assets/Arts/E11_Adriano.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 80% 100%;
}

.bgImageArt7 {
  background-image:
    url('../src/Assets/Arts/Business_Logo.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bgImageArt8 {
  background-image:
    url('../src/Assets/Arts/Logo.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bgImageArt9 {
  background-image:
    url('../src/Assets/Arts/Art_as_communication_of_emotion.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bgImageArt10 {
  background-image:
    url('../src/Assets/Arts/Aesthetic_Functionalism.jpg');
  height: 50px;
  margin-top: -70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.social-icons {
  cursor: pointer;
}

.fa-facebook:hover,
.fa-envelope:hover,
.fa-discord:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-eye:hover,
.faArrowUpRightFromSquare:hover {
  color: #FF8400;
}

.fab {
  color: #000000;
}

.section {
  background: #ffffff00;
  height: 70px;
  position: relative;
  width: 100%;
}


.section::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #FF8400;
  content: '⮟';
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}


.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}



.bounce1 {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce1 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce2 {
  animation: bounce2 2s ease infinite;
  animation-delay: 0.2s;

}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.bounce3 {
  animation: bounce2 2s ease infinite;
  animation-delay: 0.4s;

}

@keyframes bounce3 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce4 {
  animation: bounce2 2s ease infinite;
  animation-delay: 0.6s;

}

@keyframes bounce4 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce5 {
  animation: bounce2 2s ease infinite;
  animation-delay: 0.8s;

}

@keyframes bounce5 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.bounce-in-right {
  animation: bounce-in-right 2s ease;
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.bounce-in {
  animation: bounce-in 2s ease;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}
